<div class="card new-event">
  <div class="card-body">
    <h5 class="card-title">Edit event</h5>

    <%= render "form.html", Map.put(assigns, :action, event_path(@conn, :update, @event)) %>
  </div>
</div>
