<h2>Show Event</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @event.name %>
  </li>

  <li>
    <strong>Location:</strong>
    <%= @event.location %>
  </li>

</ul>

<span><%= link "Edit", to: event_path(@conn, :edit, @event) %></span>
<span><%= link "Back", to: event_path(@conn, :index) %></span>
